
body {
    background-color: white;
    font-family: 'Barlow', sans-serif;
    font-size: 1.1rem;
    line-height: 1.3em;
    color: #828e9e;
    border: .5rem solid black;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  max-width: 1000px;
}

.wrapper-lg {
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  max-width: 1500px;
}

a {

}

/* ------helpers---------*/


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
    visibility: hidden;
}

.image {
    background-repeat: no-repeat;
    background-color: transparent;
    margin: 0;
    padding: 0;
    outline: none;
    font-size: 0px !important;
    line-height: 0em !important;
    letter-spacing: -20px;
    text-indent: -2px;
    display: inline-block;
    overflow: hidden;
    text-align: left;
    border: none;
    color: transparent;
}

.image a {
    display: block;
    width: 100%;
    height: 100%;
    height: inherit;
}

.btn {
    background: black;
    border: 1px solid black;
    border-radius: 2px;
    font-size: 1rem;
    color: white;
    font-size: 1.2rem;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 1rem;
    font-weight: bold;
    height: 54px;
    cursor: pointer;
}

.btn:hover {
    background: #20efc8;
    color: black;
    border-color: #20efc8;
}

.btn-secondary {
    background: white;
    color: black;
}

.btn-secondary:hover {

}

.img-responsive {
    height: auto;
    max-width: 100%;
}

/* ------header---------*/

.header-main {
    margin-top: 2rem;
    text-align: center;
}


.header-main .img-main {
    margin-top: 1rem;
}

.site-logo {
    background:url('../img/logo.svg') no-repeat;
    width: 210px;
    height: 75px;
    cursor: pointer;
    margin-bottom: 1rem;
    outline: none;
}

.is-lang-gl .site-logo {
    background:url('../img/logo-gl.svg') no-repeat;
}

/* ------ml-form---------*/


.ml-form-wrapper {
    text-align: center;
    margin-top: 2rem;
}

.ml-form-wrapper .search-form {
    position: relative;
    display: flex;
}

.ml-form-wrapper .search-form .search-input {
    height: 40px;
    padding: .25rem;
    margin-bottom: 1rem;
    width: 100%;
}

.btn-search {
    background: #20efc8;
    border: 1px solid #20efc8;
    border-radius: 2px;
    color: black;
    position: absolute;
    top: 0;
    height: 54px;
    font-size: 1.2rem;
    width: 35%;
    font-weight: bold;
    right: 0;
}

.btn-search:hover {
    background: black;
    color: #20efc8;
}

/* ------ml-dreams---------*/

.ml-dreams-list {
    margin-top: 2rem;
}

.ml-dreams-list li {
    padding-top: 2rem;
    margin-bottom: 2rem;
    border-top: 4px dashed #20efc8;
}

/* ------at-dreams---------*/


.at-dream {

}

.at-dream a {
    display: block;
    text-decoration: none;
    color: #828e9e;
}

.at-dream .dream-body {
    color: black;
}

.at-dream .dream-date {
    display: inline-block;
    font-size: .9rem;
}

.at-dream .dream-place {
    display: inline-block;
    font-size: .9rem;
}

.at-dream .dream-place::before {
    content: '| ';
}

.at-dream .dream-author {
    display: inline-block;
    font-size: .9rem;
}

.at-dream .dream-author::before {
    content: '| ';
}

/* ------form-send-article---------*/

.form-send-article {
    padding: 1rem;
    border: 4px solid #20efc8;
}

.form-send {


}

.form-send .form-group {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.form-send .form-check {
    margin-top: 2rem;
}

.form-send label {
    display: block;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

.form-send textarea {
    min-height: 200px;
}

.form-send .form-check-label {
    display: inline;
    text-transform: initial;
    margin-left: .5rem;
}

.form-send .form-control {
    width: 100%;
    height: 40px;
    padding: .25rem;
}

.form-send .btn {
    margin-top: 2rem;
}

.link-reset-wrapper {
    border: 2px solid #20efc8;
    padding: .5rem 1rem;
    display: flex;
    margin-top: 1rem;
}

.link-reset-wrapper .link-reset {
    display: inline-block;
    color: black;
    text-decoration: none;
}

.link-reset-wrapper .link-reset:hover {
    text-decoration: none;
}

.link-reset-wrapper .link-reset span {
    display: inline-block;
    background: #20efc8;
    border-radius: 50%;
    padding: .5rem;
    width: 20px;
    height: 20px;
    line-height: 1em;
    margin-left: .25rem;
}

.link-reset-wrapper .link-reset span:hover {
    background: black;
    color: #20efc8;
}

/* ------footer-main---------*/

.footer-main {
    background: #20efc8;
    padding: 3rem 0;
    margin-top: 5rem;
}

.footer-main .logo-footer {
    width: 150px;
}

.footer-main .credits {
    color: black;
    font-size: 1rem;
}

.footer-main .credits a {
    color: black;
}

.menu-list-footer {
    margin-top: 1rem;
}

.menu-list-footer li {
    display: inline-block;
    color: black;
    font-size: 1rem;
    margin-right: .5rem;
}

.menu-list-footer li a {
    color: black;
}

.menu-list-footer li a:hover {
    text-decoration: none;
}

/* ------dream---------*/

.ml-dream {
    padding: 1rem;
    border: 4px solid #20efc8;
    margin-bottom: 2rem;
    margin-top: 1rem;
    color: #000;
}

.ml-dream .dream-date,
.ml-dream .dream-place,
.ml-dream .dream-author {
    color: #828e9e;
}

.ml-dream .dream-date {
    display: inline-block;
    font-size: .9rem;
}

.ml-dream .dream-place {
    display: inline-block;
    font-size: .9rem;
}

.ml-dream .dream-place::before {
    content: '| ';
}

.ml-dream .dream-author {
    display: inline-block;
    font-size: .9rem;
}

.ml-dream .dream-author::before {
    content: '| ';
}

/* ------text---------*/

.ml-text {
    margin-bottom: 2rem;
    margin-top: 1rem;
    color: #000;
}

/* ------pagination---------*/


.pagination-wrapper {
    text-align: center;
}

.pagination-list li {
    display: inline-block;
}

.pagination-list li a,
.pagination-list li span {
    display: inline-block;
    padding: .5rem .75rem;
    border: 1px solid #20efc8;
    color: black;
    text-decoration: none;
    font-size: .9rem;
}

.pagination-list li a:hover {
    background: #20efc8;
    color: black;
}

.pagination-list li.active span {
    background: #20efc8;
    color: black;
}

.pagination-list li.active span:hover {
    background: #20efc8;
    color: black;
}

.pagination-list li.disabled span {
    background: #dde6e6;
    border: 1px solid #dde6e6;
    color: #a3b0b0;
    cursor: not-allowed;
}

.pagination-list li.disabled span:hover {
    background: #dde6e6;
    border: 1px solid #dde6e6;
    color: #a3b0b0;
}




/* ------mediaqueries---------*/


@media screen and (min-width: 980px) {
    .site-logo {
        background:url('../img/logo-lg.svg') no-repeat;
        width: 270px;
        height: 100px;
        cursor: pointer;
    }

    .is-lang-gl .site-logo {
        background:url('../img/logo-lg-gl.svg') no-repeat;
    }
}

@media screen and (min-width: 800px) {
    .form-send-article {
        padding: 2rem;
    }

}

@media screen and (min-width: 480px) {
    .footer-main {
        padding: 3rem 2rem;
    }

    .ml-dream {
        padding: 2rem;
    }


    body {
        border: 1rem solid black;
    }

    .search-input {
        margin-bottom: 0;
    }
}

.has-margin-top {
    margin-top: 2rem;
}
