---
title: Sueños de cuarentena
description: Banco de sueños confinados
layout: layouts/base.vto
url: /es/enviar/
alternate: /gl/enviar/
---
<div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <article class="ml-text">
                <p><strong>Ya no recogemos nuevos sueños.</strong></p>
                <p><strong>Sueños de cuarentena</strong> es un banco de sueños recogidos durante el confinamiento por la covid-19. Aquel tiempo quedó atrás y, con él, se cerró la recogida: el formulario para enviar sueños ya no está disponible.</p>
                <p>Los sueños que nos llegaron entonces siguen aquí, para leerlos, buscarlos o dejarse llevar por uno al azar. Gracias a todxs por compartir los vuestros.</p>
            </article>

            <div class="btn-wrapper">
                <a class="btn" href="/es/">Ver los sueños</a>
            </div>
        </div>
    </div>
