---
title: Soños de corentena
description: Banco de soños confinados
layout: layouts/base.vto
url: /gl/enviar/
alternate: /es/enviar/
---
<div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <article class="ml-text">
                <p><strong>Xa non recollemos novos soños.</strong></p>
                <p><strong>Soños de corentena</strong> é un banco de soños recollidos durante o confinamento pola covid-19. Aquel tempo quedou atrás e, con el, pechouse a recollida: o formulario para enviar soños xa non está dispoñible.</p>
                <p>Os soños que nos chegaron daquela seguen aquí, para lelos, buscalos ou deixarse levar por un ao chou. Grazas a todxs por compartir os vosos.</p>
            </article>

            <div class="btn-wrapper">
                <a class="btn" href="/gl/">Ver os soños</a>
            </div>
        </div>
    </div>
