---
title: Soños de corentena
description: Banco de soños confinados
layout: layouts/base.vto
url: /gl/que-e/
alternate: /es/que-es/
---
<div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <article class="ml-text">
                <p></p><div>«O soño é unha profecía íntima do que nos moldeou, é dicir, o noso desexo inconsciente. O soño é presa do espanto e da capacidade de superar este espanto, de danzar ao seu redor e de facer imaxes a partir de farrapos e anacos.»<br><br>Anne Dufourmantelle<br><br><strong>Soños de corentena</strong> é un banco de soños en tempos de confinamento. Que temos en común cando soñamos? Que din de nós estes farrapos de creatividade universal? Que forzas emotivas estamos despregando? É posible crear un relato colectivo a partir destes anacos?<br><br>Nestes días nos que os nosos corpos deben permanecer afastados, esta colección de relatos oníricos non pretende máis que iso, xuntar dalgún xeito palabras que intentan narrar algo que se nos escapa. Ceibar asociacións, xustapoñer estas producións estrañas e inconexas da nosa mente para desatar, se cadra, algúns novos significados.</div><p></p>
            </article>

            <div class="btn-wrapper">
                <a class="btn" href="/gl/enviar/">Enviar un soño</a>
            </div>

            <img class="img-responsive fadeIn wow img-main has-margin-top" src="/assets/img/suenosdecuarentena.png">
        </div>
    </div>
